@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500;700&family=Nanum+Gothic+Coding:wght@400;700&display=swap");

@import "./reset.css";
@import "./variables.css";

@import "./components/header.css";
@import "./components/document.css";
@import "./components/keyboard.css";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: var(--main-font);
}

.cont-browser {
  position: relative;
  min-width: 1200px;
  width: 1200px;
  height: 650px;
  border: 3px solid #000;
}
