@charset "utf-8"

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
  color: #fff;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2d4263;
}

h1 {
  font-family: "Racing Sans One", cursive;
  color: #fff;
  letter-spacing: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: rgb(255, 255, 255, 0.2);
  padding: 2rem;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  width: 900px;
  backdrop-filter: blur(10px);
}

.container:active {
  border: 2px solid #fff;
}

.timer {
  color: #fff;
  font-size: 60px;
  font-weight: bold;
}

.quote-display {
  position: absolute;
  top: 3rem;
  width: 90%;
  height: 150px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
}

.quote-input {
  position: absolute;
  top: 3rem;
  width: 90%;
  height: 150px;
  padding: 10px;
  border: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: transparent;
  font-size: 18px;
  resize: none;
  outline: none;
  color: transparent;
  /* caret-color: thistle; */
}

.correct {
  /* background-color: #a8ff78; */
  color: #a8ff78;
}

.incorrect {
  background-color: #e94057;
  /* color: #e94057; */
}

.cont-keybord {
  margin-top: 200px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #fff;
}
.keybord-row {
  display: flex;
  justify-content: center;
}
.keybord-row > span {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 3px;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
  text-align: center;
}
.keybord-row .key-backspace,
.keybord-row .key-tab,
.keybord-row .key-caps,
.keybord-row .key-enter,
.keybord-row .key-shift-left,
.keybord-row .key-shift-right {
  width: 80px;
  font-size: 12px;
  line-height: 50px;
}
.keybord-row .key-caps {
  width: 90px;
}
.keybord-row .key-enter {
  width: 100px;
}
.keybord-row .key-shift-left {
  width: 110px;
}
.keybord-row .key-shift-right {
  width: 130px;
}
.keybord-row:last-child .key-ctrl,
.keybord-row:last-child .key-fn,
.keybord-row:last-child .key-win,
.keybord-row:last-child .key-alt,
.keybord-row:last-child .key-space,
.keybord-row:last-child .key-left,
.keybord-row:last-child .key-up,
.keybord-row:last-child .key-right {
  font-size: 13px;
  line-height: 50px;
}
.keybord-row:last-child .key-space {
  width: 300px;
}
.key-up span {
  display: block;
  width: 100%;
  height: 50%;
  color: #333;
  line-height: 25px;
}
.key-up span:first-child {
  height: calc(50%-1px);
  border-bottom: 1px solid #333;
}

.keybord-row > span.on {
  background-color: rgba(45, 66, 99, 0.9);
  color: #fff;
}

/* black-color */
.cont-keybord.black {
  background-color: #222;
}
.cont-keybord.black span {
  border-color: transparent;
  background-color: #111;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  color: #ccc;
}
.cont-keybord.black .key-up span:first-child {
  border-color: rgba(255, 255, 255, 0.2);
}
.cont-keybord.black .keybord-row > span.on {
  background-color: rgba(255, 255, 255, 0.2);
}
